html,
body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: auto;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav {
  margin: 10px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

nav a {
  margin: 10px;
}

img {
  width: 100px;
  height: 100px;
}

figcaption {
  text-align: center;
}

section {
  margin: 50px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

/*Classes styles*/

.nav-bar img {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 65px;
  height: 65px;
  float: left;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.content img {
  width: 120px;
  height: 120px;
}

/*ID styles*/

#home img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 50px;
}

/*Mobile section*/

@media only screen and (max-width: 800px), (orientation: portrait) {
  body {
    font-size: 1.25em;
  }

  figcaption {
    font-size: 1.25em;
    text-align: center;
  }

  footer {
    font-size: 0.75em;
  }
}

/*Add tablet section,
add links for Contact section,
make nav-bar fixed, 
change some <a> for <button>
add JS funtion (change color when hover over buttons and animation for Skills section*/
